.note-collapsed {
  width: 600px;
  margin: 6px auto;      
  padding: 10px 14px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
  display: flex;
  justify-content: space-between;
  align-items: center;    
  cursor: text;
}

.note-expanded {
  width: 600px;
  margin: 12px auto;      
  padding: 12px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0,0,0,.3);
  display: flex;
  flex-direction: column;
}

.title {
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
}


textarea {
  border: none;
  outline: none;
  resize: none;
  margin-top: 6px;
  font-size: 14px;
}

/* Footer */
.footer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.icons {
  display: flex;
  gap: 14px;
}

button {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 500;
}
