<!-- COLLAPSED -->
<div class="note-collapsed" *ngIf="!isExpanded" (click)="expandNote()">
  <span>Take a note...</span>

  <div class="icons">
    <span (click)="stop($event)">☑</span>
    <span (click)="stop($event)">✏️</span>
    <span (click)="stop($event)">🖼</span>
  </div>
</div>

<!-- EXPANDED -->
<div class="note-expanded" *ngIf="isExpanded">

  <input
    class="title"
    placeholder="Title"
    [(ngModel)]="title"
  />

  <textarea
    placeholder="Take a note..."
    [(ngModel)]="description"
  ></textarea>

  <div class="footer">
    <div class="icons">
      <span>🎨</span>
      <span>⏰</span>
      <span>👤</span>
      <span>📥</span>
      <span>⋮</span>
    </div>

    <button (click)="closeNote()">Close</button>
  </div>

</div>
