<div class="sidebar">

  <div
    class="item"
    [class.active]="active === 'notes'"
    (click)="setActive('notes')"
  >
    💡 <span>Notes</span>
  </div>

  <div
    class="item"
    [class.active]="active === 'reminders'"
    (click)="setActive('reminders')"
  >
    ⏰ <span>Reminders</span>
  </div>

  <div class="item">
    ✏️ <span>Edit labels</span>
  </div>

  <div
    class="item"
    [class.active]="active === 'archive'"
    (click)="setActive('archive')"
  >
    📥 <span>Archive</span>
  </div>

  <div
    class="item"
    [class.active]="active === 'trash'"
    (click)="setActive('trash')"
  >
    🗑 <span>Trash</span>
  </div>

</div>
