<header class="navbar">

  <!-- LEFT -->
  <div class="nav-left">
    <span class="icon menu">☰</span>

    <div class="logo">
      <img
        src="https://www.gstatic.com/images/branding/product/1x/keep_2020q4_48dp.png"
        alt="Keep"
      />
      <span>FUNDOO</span>
    </div>
  </div>

  <!-- CENTER -->
  <div class="nav-center">
    <span class="icon search">🔍</span>
    <input type="text" placeholder="Search" />
  </div>

  <!-- RIGHT -->
  <div class="nav-right">
    <span class="icon">🔄</span>
    <span class="icon">☰</span>
    <span class="icon">⚙</span>
    <span class="icon">⋮</span>

    
  </div>

</header>
